@import url(../../App.css);
.Services {
  background: url(../../assets/images/Sections-Images/Services/CTA\ BG.png)
    gainsboro;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;
  background-blend-mode: multiply;
  padding-bottom: 10rem;
}

/* .cards {
  display: flex;
  justify-content: space-evenly;
} */

.textbox {
  display: grid;
  grid-template-columns: 20rem 20rem 20rem;
  grid-column-gap: 21rem;
  padding-left: 10rem;
  padding-top: 9rem;
  text-align: center;
}

.textbox h5 {
  font-family: var(--font-family-primary);
  font-size: 32px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.005em;
  text-align: center;
  color: #12263c;
}

.textbox p {
  font-family: Nunito Sans;
  font-size: 2rem;
  width: 150%;
  display: flex;
  align-self: center;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #12263c;
}

.box {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.icn {
  padding-bottom: 2rem;
}
.box1 {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
}

.box2 {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  align-items: center;
}
