.cars {
  height: max-content;
}
.card-container {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  align-items: center;
  flex-wrap: nowrap;
  padding: 3rem 0;
}

.car-card {
  border: 0px solid #bebec5;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  width: 37.8rem;
  height: max-content;
  margin-bottom: 4rem;
  box-shadow: 0px 0rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  flex-wrap: nowrap;
  gap: 3rem;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.brand-title {
  text-align: center;
}
.car-card h4 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.3rem;
  color: #741906;
  padding-top: 2rem;
}
.sec h4 {
  padding-top: 0;
}
.car-card h5 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: rgba(35, 34, 34, 0.96);
}
.car-card p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: rgba(35, 34, 34, 0.96);
}

.properties-car {
  /* position: relative; */
  right: 7rem;
  top: 7rem;
  display: flex;
  align-items: flex-start;
  /* justify-content: space-between; */
  gap: 1rem;
  font-size: 2rem;
  line-height: 1.9rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.properties-car .car-pro {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.properties-car h6 {
  color: #741906;
  font-size: 1.4rem;
}

.section-bot {
  display: flex;
  gap: 5rem;
  height: max-content;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}



.vector {
  color: #bebec5;
  font-size: 2px;
  height: 16%;
  width: 3%;
  border-radius: 2rem;
  background-color: #741906;
}

.dot-pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  gap: 1rem;
}

.dot {
  width: 11px;
  height: 11px;
  background-color: #bebec5;
  border-radius: 8px;
}

.dot1 {
  background-color: #741906;
  width: 11px;
  height: 11px;
  border-radius: 8px;
}
