.btn-primary {
  padding: 1rem 3.8rem;
  border: none;
  background: transparent;
  border-radius: 0.6rem;
  border: 0.2rem solid #fff;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  transition-duration: 0.5s;
  transition-property: all;
  transition-delay: 0.2s;
}